header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#bannerimage {
    width: 100vw;
    height: calc(100vw * 1 / 4);
    transform: translateY(calc((100vw * 1 / 4- 100vh) / -2));
    background-image: url("../images/banner.jpg");
    background-size: 50vw;
    background-color: #eef0ef;
    background-position: center;
    background-repeat: no-repeat;
  }

#bannertext{
    width: 100%;
    text-align: center;
    position: relative;
    color: rgb(128, 128, 128);
    font-weight: 500;
    vertical-align: center;
    font-size: 7vw;
}

body{
    background-color: #eef0ef;
    position: absolute;
    height: 100%;

}



$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  margin-bottom: 1.6%;
  background: $color_white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  a {
    color: inherit;
    &:hover {
      color: $color_prime;
    }
  }
  &:hover {
    .photo {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(#000, .6);
    color: $color_white;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
    a {
      text-decoration: dotted underline
    }
    ul li {
      display: inline-block;
    }
    .author:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 10px;
      content: "\f007";
    }

    .date:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 10px;
      content: "\f133";
    }

    .tags {
      ul:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f02b";
        margin-right: 10px;
      }
      li {
        margin-right: 2px;
        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }
  .description {
    padding: 1rem;
    background: $color_white;
    position: relative;
    z-index: 1;
    h1,
    h2 {
      font-family: Poppins, sans-serif;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color_grey_dark;
      margin-top: 5px;
    }
    .read-more {
      text-align: right;
      a {
        color: $color_prime;
        display: inline-block;
        position: relative;
        &:after {
          content: "\f061";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin .3s, opacity .3s;
        }

        &:hover:after {
          margin-left: 5px;
          opacity: 1;
        }
      }
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: $color_prime;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }
  &:hover {
    .details {
      left: 0%;
    }
  }


  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 700px;
    .meta {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg)
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}

footer {
    .copyright {
      width: 50%;
      padding-left: 5%;
      float: left;
      background: #2C3E50;
      bottom: 0;
      margin-top: 0;
      position: relative;

      p {
        color: #fff;
        font-size: .7em;
        line-height: 70px;
        margin: 0px;
        text-transform: capitalize;
        letter-spacing: 1px;
      }
    }
    .social {
      width: 50%;
      float: right;
      a {
        float: left;
        line-height: 70px;
        text-decoration: none;
        color: #fff;
        text-align: center;
        font-weight: 700;
        transition: background .33s ease-out, color .33s ease-out, fill .33s ease-out;
        &:hover {
          background-color: rgba(1, 183, 241, 0.6);
          -moz-transition: all, .3s;
          -o-transition: all, .3s;
          -webkit-transition: all, .3s;
          transition: all, .3s;
        }
      }
    }
  }

  .pageContainer{
    position: relative;
    min-height: 100vh;
  }

  .pageContent{
    padding-bottom: 15%;
    position: relative;
    padding-bottom: 10%;
  }
  
  
  .jaska-foot {
    color: #e7a33c;
    &:hover {
      color: #fff;
    }
  }

  @media (max-width: 1600px) {
    footer .copyright {
      p {
        text-align: center;
        padding: 0;
        width: 100%;
      }
      width: 100%;
    }
  }
  
  @media (max-width: 1600px) {
    footer .social {
      width: 100%;
    }
  }
  

  
  .tweet {
    background-color: #3DACDD;
    font-size: 1.2em;
    width: 50%;
    position: relative;
  }
  
  .support {
    background-color: #6dcd9a;
    font-size: .8em;
    width: 50%;
    position: relative;
  }
 


.bannerPostImage{
  width: 100vw;
  height: calc(100vw * 1 / 4);
  transform: translateY(calc((100vw * 1 / 4- 100vh) / -2));
  max-height: 20vw;
  padding: 10px;
  background-size: 50vw;
  background-color: #eef0ef;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;

}

.postBodyContainer{
  position: relative;
  padding: 10px;
  margin: 10px;
  float: left;
  top: 10;
  display: flex;
  flex-wrap: wrap;
}

.postMeta{
  flex: 1;
  position: relative;
  padding: 0px;
  left: 0;
  top:0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.postMetaText{
  margin: 10px;

}

.postContent{
  flex: 2;
  position: relative;
  margin-left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px;
}

.fotoPerfil{
  position: relative;
  

}